.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown > button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;

  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 8px);

  background: rgb(var(--bg));
  color: rgb(var(--text-primary));

  border-radius: 8px;
  padding: 8px 0;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  z-index: 2000;
}

.dropdown__menu button, .dropdown__menu a {
  width: 100%;
  padding: 10px 16px;

  background: none;
  border: 0;
  text-align: left;

  font-size: 14px;
  line-height: 1.4;
  color: inherit;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: background 0.2s ease;
}

.dropdown__menu button:hover, .dropdown__menu a:hover {
  background: rgb(var(--border) / .6);
}


.dropdown__menu {
  opacity: 0;
  transform: translateY(-4px);
  animation: dropdownFade 0.25s ease forwards;
}

@keyframes dropdownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}