.grid {
  display: grid; gap: var(--space-4);

  &--2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }

  &--3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}


@media (max-width: 768px) {
  .grid--2, .grid--3 { grid-template-columns: 1fr;}
}
